<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881835782368-r43gscdddrfo9tk063rq5e2f4kq6ir14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881835782368-r43gscdddrfo9tk063rq5e2f4kq6ir14</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>881835782368-esflvajn8t2l9dn12v9g0sjsgcadlc84.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDscTxP4NTyUWIM-CG7yJsf1vUo44Bs2jA</string>
	<key>GCM_SENDER_ID</key>
	<string>881835782368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.directlivestock.app</string>
	<key>PROJECT_ID</key>
	<string>direct-livestock</string>
	<key>STORAGE_BUCKET</key>
	<string>direct-livestock.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881835782368:ios:0e943f872b45ba21</string>
	<key>DATABASE_URL</key>
	<string>https://direct-livestock.firebaseio.com</string>
</dict>
</plist>